<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="circulo" class="Figuras.Circulo" scope="prototype">
    </bean>

    <bean id="cuadrado" class="Figuras.Cuadrado" scope="prototype">
    </bean>

    <bean id="linea" class="Figuras.Linea" scope="prototype">
    </bean>

    <bean id="poligono" class="Figuras.Poligono" scope="prototype">
    </bean>

    <bean id="punto" class="Figuras.Punto" scope="prototype">
    </bean>

    <bean id="rectangulo" class="Figuras.Rectangulo" scope="prototype">
    </bean>

    <bean id="texto" class="Figuras.Texto" scope="prototype">
    </bean>



</beans>